<!doctype html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <!-- Open Graph meta tags for social media -->
    <meta property="og:title" content="Jerald Bianan Portfolio" />
    <meta
      property="og:description"
      content="Welcome to My Personal Website, Let's get in touch."
    />
    <meta property="og:image" content="images/meta-image.png" />
    <meta property="og:url" content="https://jeraldbianan.com/#/" />
    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jerald Bianan Portfolio" />
    <meta
      name="twitter:description"
      content="Welcome to My Personal Website, Let's get in touch."
    />
    <meta name="twitter:image" content="images/meta-image.png" />
    <link rel="JB-webclip" href="webclip/JB-webclip.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="favicon/favicon-48x48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="favicon/favicon-64x64.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="favicon/favicon-128x128.png"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
